
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-Lime">
              <div class="inner">
                <h3>150</h3>

                <p>Sipariş Detay</p>
              </div>
              <div class="icon">
                <i class="nav-icon fa fa-list-alt" aria-hidden="true"></i>
              </div>
              <a href="/siparis-detay" class="small-box-footer">Daha fazla bilgi ... <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3>53<sup style="font-size: 20px">%</sup></h3>

                <p>Kesimhane</p>
              </div>
              <div class="icon">
                <i class="nav-icon fa fa-cut" aria-hidden="true"></i>
              </div>
              <a href="/kesimhane" class="small-box-footer">Daha fazla bilgi ... <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
